.container {
  margin: 50px 0px;
  display: flex;
  align-items: center;
}

.card {
  margin: 0 2% !important;
}

.primary {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}
.success {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}
.danger {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
